In [163]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#to ignore warnings
import warnings
from functools import reduce
warnings.filterwarnings('ignore')

In [164]:
#load all the county lists
sc_offenses_2011 = pd.read_csv("Data/SC_County_Offenses_2011 - 11tbl10sc.csv")
sc_offenses_2011 = sc_offenses_2011.dropna()
sc_offenses_2011["Year"] = 2011 #added 'year' column for later data exploration

sc_offenses_2011.dtypes
#have to cast some of the column data into ints from strings

#cast each string(that contains a comma) into a float and then into an int
sc_offenses_2011["Arson"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2011["Arson"]]
sc_offenses_2011["Aggravated assault"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2011["Aggravated assault"]]
sc_offenses_2011["Larceny-theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2011["Larceny-theft"]]
sc_offenses_2011["Motor vehicle theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2011["Motor vehicle theft"]]
sc_offenses_2011["Property crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2011["Property crime"]]
sc_offenses_2011["Violent crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2011["Violent crime"]]
sc_offenses_2011["Burglary"] = [int(float(row.replace(',', ''))) for row in sc_offenses_2011["Burglary"]]

sc_offenses_2011.dtypes#checking if it worked
sc_offenses_2011.describe

<bound method NDFrame.describe of    Metropolitan/Nonmetropolitan                          County  \
0           Metropolitan County                           Aiken
1           Metropolitan County                        Anderson
2           Metropolitan County                        Berkeley
3           Metropolitan County                         Calhoun
4           Metropolitan County                      Charleston
5           Metropolitan County                      Darlington
6           Metropolitan County                      Dorchester
7           Metropolitan County                       Edgefield
8           Metropolitan County                       Fairfield
9           Metropolitan County                        Florence
10          Metropolitan County                      Greenville
11          Metropolitan County                           Horry
12          Metropolitan County  Horry County Police Department
13          Metropolitan County                         Kershaw
14          Metropolitan County                         Laurens
15          Metropolitan County                       Lexington
16          Metropolitan County                         Pickens
17          Metropolitan County                        Richland
18          Metropolitan County                          Saluda
19          Metropolitan County                     Spartanburg
20          Metropolitan County                            York
21       Nonmetropolitan County                       Allendale
22       Nonmetropolitan County                         Bamberg
23       Nonmetropolitan County                        Barnwell
24       Nonmetropolitan County                        Beaufort
25       Nonmetropolitan County                         Chester
26       Nonmetropolitan County                    Chesterfield
27       Nonmetropolitan County                       Clarendon
28       Nonmetropolitan County                        Colleton
29       Nonmetropolitan County                          Dillon
30       Nonmetropolitan County                      Georgetown
32       Nonmetropolitan County                         Hampton
33       Nonmetropolitan County                       Lancaster
34       Nonmetropolitan County                             Lee
35       Nonmetropolitan County                          Marion
36       Nonmetropolitan County                        Marlboro
37       Nonmetropolitan County                       McCormick
38       Nonmetropolitan County                        Newberry
39       Nonmetropolitan County                          Oconee
40       Nonmetropolitan County                           Union
41       Nonmetropolitan County                    Williamsburg

    Violent crime  Murder and nonnegligent manslaughter  Forcible rape  \
0             424                                    11             48
1             776                                    11             46
2             503                                     5             38
3              57                                     1              2
4             573                                     7             24
5             425                                     3             16
6             372                                     2             18
7              18                                     2              4
8             120                                     2              7
9             276                                     6             14
10           1819                                    21            118
11              0                                     0              0
12           1060                                    16            111
13            214                                     6             21
14            295                                     1             17
15            578                                    10             60
16            222                                     7             11
17           2366                                    13             93
18             36                                     0              1
19            626                                     7             58
20            413                                     2             28
21              9                                     0              0
22             41                                     3              1
23            104                                     1              4
24            606                                     3             20
25            129                                     1              8
26            117                                     2              4
27            170                                     4             11
28            172                                     4             17
29            240                                     4              9
30            254                                     0             24
32             77                                     0              3
33            230                                     3             21
34             73                                     0              7
35             86                                     2             10
36            161                                     2              8
37             24                                     0              2
38             54                                     2              6
39            305                                     4             42
40             64                                     2             12
41            174                                     3              9

    Robbery  Aggravated assault  Property crime  Burglary  Larceny-theft  \
0        82                 283            3771      1329           2075
1        84                 635            6900      2061           4123
2        73                 387            3357       951           2076
3         6                  48             471       164            251
4        96                 446            2304       730           1294
5        41                 365            2325       876           1305
6        63                 289            2413       771           1413
7         3                   9             455       188            240
8         9                 102             720       233            439
9        48                 208            2653       737           1731
10      289                1391           10942      3014           7042
11        0                   0              31         0             31
12      161                 772            7643      1997           5015
13       18                 169            1371       396            890
14       22                 255            1437       499            801
15      108                 400            4508      1147           2953
16       18                 186            2155       633           1326
17      406                1854            9954      2860           5947
18        2                  33             349       148            178
19      112                 449            6338      1854           3953
20       39                 344            2559       657           1743
21        0                   9             130        47             69
22        4                  33             266        76            163
23        5                  94             394       124            249
24       86                 497            3849      1106           2557
25       16                 104             848       238            552
26        4                 107             914       286            581
27       18                 137             927       309            553
28       13                 138            1297       426            731
29       20                 207            1014       386            563
30       22                 208            1672       504           1054
32        3                  71             426       146            253
33       36                 170            1992       591           1298
34        4                  62             429       161            222
35        9                  65             878       364            449
36       14                 137             845       263            517
37        0                  22              61        19             31
38        5                  41             501       114            337
39       13                 246            1560       511            958
40        8                  42             602       167            408
41       27                 135             780       235            462

    Motor vehicle theft  Arson  Year
0                   367      4  2011
1                   716     37  2011
2                   330     24  2011
3                    56      7  2011
4                   280     14  2011
5                   144     12  2011
6                   229      9  2011
7                    27      2  2011
8                    48      5  2011
9                   185      4  2011
10                  886     32  2011
11                    0      0  2011
12                  631     47  2011
13                   85     21  2011
14                  137     12  2011
15                  408      9  2011
16                  196      4  2011
17                 1147     26  2011
18                   23      3  2011
19                  531     21  2011
20                  159     25  2011
21                   14      1  2011
22                   27      7  2011
23                   21      2  2011
24                  186     16  2011
25                   58      2  2011
26                   47      6  2011
27                   65      3  2011
28                  140      6  2011
29                   65      9  2011
30                  114     19  2011
32                   27      2  2011
33                  103     10  2011
34                   46      8  2011
35                   65      7  2011
36                   65      5  2011
37                   11      0  2011
38                   50      0  2011
39                   91      5  2011
40                   27      4  2011
41                   83     15  2011  >

In [165]:

sc_offenses_2012 = pd.read_csv("Data/SC_County_Offenses_2012.csv")
sc_offenses_2012["Year"] = 2012


sc_offenses_2012 = sc_offenses_2012.dropna()
sc_offenses_2012["Year"] = 2012 #added 'year' column for later data exploration

sc_offenses_2012.dtypes
#have to cast some of the column data into ints from strings

#cast each string(that contains a comma) into a float and then into an int
sc_offenses_2012["Arson"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2012["Arson"]]
sc_offenses_2012["Aggravated assault"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2012["Aggravated assault"]]
sc_offenses_2012["Larceny-theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2012["Larceny-theft"]]
sc_offenses_2012["Motor vehicle theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2012["Motor vehicle theft"]]
sc_offenses_2012["Property crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2012["Property crime"]]
sc_offenses_2012["Violent crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2012["Violent crime"]]
sc_offenses_2012["Burglary"] = [int(float(row.replace(',', ''))) for row in sc_offenses_2012["Burglary"]]

sc_offenses_2012.dtypes#checking if it worked
sc_offenses_2012.describe

<bound method NDFrame.describe of    Metropolitan/Nonmetropolitan        County  Violent crime  \
0         Metropolitan Counties         Aiken            351
1         Metropolitan Counties      Anderson            809
2         Metropolitan Counties      Beaufort            706
3         Metropolitan Counties      Berkeley            487
4         Metropolitan Counties       Calhoun             53
5         Metropolitan Counties       Chester            110
6         Metropolitan Counties    Darlington            345
7         Metropolitan Counties    Dorchester            345
8         Metropolitan Counties     Edgefield             20
9         Metropolitan Counties     Fairfield            125
10        Metropolitan Counties      Florence            225
11        Metropolitan Counties    Greenville           1994
12        Metropolitan Counties        Jasper             34
13        Metropolitan Counties       Kershaw            256
14        Metropolitan Counties     Lancaster            245
15        Metropolitan Counties       Laurens            306
16        Metropolitan Counties     Lexington            534
17        Metropolitan Counties       Pickens            254
18        Metropolitan Counties      Richland           2266
19        Metropolitan Counties        Saluda             37
20        Metropolitan Counties   Spartanburg            596
21        Metropolitan Counties        Sumter            424
22        Metropolitan Counties         Union             93
23        Metropolitan Counties          York            499
24     Nonmetropolitan Counties     Abbeville             49
25     Nonmetropolitan Counties     Allendale              2
26     Nonmetropolitan Counties       Bamberg             32
27     Nonmetropolitan Counties      Barnwell             88
28     Nonmetropolitan Counties      Cherokee             79
29     Nonmetropolitan Counties  Chesterfield            138
30     Nonmetropolitan Counties     Clarendon            113
31     Nonmetropolitan Counties      Colleton            204
32     Nonmetropolitan Counties        Dillon            192
33     Nonmetropolitan Counties     Greenwood            428
34     Nonmetropolitan Counties       Hampton             75
35     Nonmetropolitan Counties           Lee             76
36     Nonmetropolitan Counties        Marion             99
37     Nonmetropolitan Counties      Marlboro            172
38     Nonmetropolitan Counties     McCormick             18
39     Nonmetropolitan Counties      Newberry             79
40     Nonmetropolitan Counties        Oconee            268
41     Nonmetropolitan Counties    Orangeburg            256

    Murder and nonnegligent manslaughter  Forcible rape  Robbery  \
0                                      4             41       47
1                                     10             40      110
2                                      9             34       89
3                                     10             37       82
4                                      0              6        6
5                                      2              8       17
6                                      4             10       33
7                                      3             25       53
8                                      1              3        4
9                                      3              5        9
10                                     2              8       38
11                                    17            142      319
12                                     5             10       13
13                                     2             27       14
14                                    10             18       45
15                                     4             21       20
16                                     7             59       81
17                                     4             14       16
18                                    15            105      388
19                                     0              4        3
20                                     8             61       95
21                                     5             20       39
22                                     2              2        9
23                                     1             20       37
24                                     0              2        3
25                                     0              0        0
26                                     0              1        2
27                                     0              3        2
28                                     1              0       12
29                                     2              7       11
30                                     1              6       15
31                                     2             11        8
32                                     4             13       20
33                                     4             17       19
34                                     0              5        7
35                                     0              2        8
36                                     4              3       10
37                                     2             14       11
38                                     0              1        0
39                                     1              0        7
40                                     5             26        7
41                                    12             26       69

    Aggravated assault  Property crime  Burglary  Larceny-theft  \
0                  259            3776      1187           2173
1                  649            6816      1890           4251
2                  574            3489      1015           2306
3                  358            3558      1010           2173
4                   41             468       200            227
5                   83             891       276            561
6                  298            2332       938           1243
7                  264            2074       582           1292
8                   12             389       109            246
9                  108             665       177            422
10                 177            2451       755           1514
11                1516           10827      3000           6912
12                   6             461       135            290
13                 213            1557       485            962
14                 172            2497       764           1637
15                 261            1252       477            689
16                 387            4549      1068           3061
17                 220            2096       608           1285
18                1758            9747      2657           5891
19                  30             292       113            156
20                 432            5874      1783           3619
21                 360            2487      1004           1280
22                  80             599       147            430
23                 441            2300       531           1641
24                  44             412       126            269
25                   2              80        23             51
26                  29             291       103            157
27                  83             474       110            314
28                  66             440       190            187
29                 118             977       244            677
30                  91             896       284            551
31                 183            1180       326            699
32                 155            1054       370            608
33                 388            1725       409           1248
34                  63             308       114            172
35                  66             429       137            244
36                  82             837       370            403
37                 145             863       269            551
38                  17             108        36             55
39                  71             481       127            322
40                 230            1677       535           1018
41                 149            3266      1035           1830

    Motor vehicle theft  Arson  Year
0                   416      3  2012
1                   675     27  2012
2                   168     15  2012
3                   375     10  2012
4                    41      2  2012
5                    54      2  2012
6                   151      8  2012
7                   200      3  2012
8                    34      3  2012
9                    66      4  2012
10                  182      1  2012
11                  915     50  2012
12                   36      1  2012
13                  110      1  2012
14                   96     13  2012
15                   86      8  2012
16                  420     13  2012
17                  203     10  2012
18                 1199     27  2012
19                   23      1  2012
20                  472     33  2012
21                  203     34  2012
22                   22      6  2012
23                  128     19  2012
24                   17      2  2012
25                    6      0  2012
26                   31      0  2012
27                   50      5  2012
28                   63      3  2012
29                   56      6  2012
30                   61      4  2012
31                  155      9  2012
32                   76      6  2012
33                   68      5  2012
34                   22      1  2012
35                   48      7  2012
36                   64      6  2012
37                   43      2  2012
38                   17      0  2012
39                   32      3  2012
40                  124     11  2012
41                  401     17  2012  >

In [166]:

sc_offenses_2013 = pd.read_csv("Data/SC_County_Offenses_2013 - 13tbl10sc.csv")
sc_offenses_2013 = sc_offenses_2013.dropna()
sc_offenses_2013["Year"] = 2013 #added 'year' column for later data exploration

sc_offenses_2013.dtypes
#have to cast some of the column data into ints from strings

#cast each string(that contains a comma) into a float and then into an int
sc_offenses_2013["Arson"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2013["Arson"]]
sc_offenses_2013["Aggravated assault"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2013["Aggravated assault"]]
sc_offenses_2013["Larceny-theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2013["Larceny-theft"]]
sc_offenses_2013["Motor vehicle theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2013["Motor vehicle theft"]]
sc_offenses_2013["Property crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2013["Property crime"]]
sc_offenses_2013["Violent crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2013["Violent crime"]]
sc_offenses_2013["Burglary"] = [int(float(row.replace(',', ''))) for row in sc_offenses_2013["Burglary"]]

sc_offenses_2013.dtypes#checking if it worked
sc_offenses_2013.describe

<bound method NDFrame.describe of    Metropolitan/Nonmetropolitan                          County  \
0           Metropolitan County                           Aiken
1           Metropolitan County                        Anderson
2           Metropolitan County                        Beaufort
3           Metropolitan County                        Berkeley
4           Metropolitan County                         Calhoun
5           Metropolitan County                      Charleston
6           Metropolitan County                         Chester
7           Metropolitan County                      Darlington
8           Metropolitan County                      Dorchester
9           Metropolitan County                       Edgefield
10          Metropolitan County                       Fairfield
11          Metropolitan County                        Florence
12          Metropolitan County                      Greenville
13          Metropolitan County  Horry County Police Department
14          Metropolitan County                       Lancaster
15          Metropolitan County                         Laurens
16          Metropolitan County                       Lexington
17          Metropolitan County                         Pickens
18          Metropolitan County                        Richland
19          Metropolitan County                          Saluda
20          Metropolitan County                     Spartanburg
21          Metropolitan County                          Sumter
22          Metropolitan County                           Union
23          Metropolitan County                            York
24       Nonmetropolitan County                       Abbeville
25       Nonmetropolitan County                       Allendale
26       Nonmetropolitan County                         Bamberg
27       Nonmetropolitan County                        Barnwell
28       Nonmetropolitan County                    Chesterfield
29       Nonmetropolitan County                       Clarendon
30       Nonmetropolitan County                        Colleton
31       Nonmetropolitan County                          Dillon
32       Nonmetropolitan County                      Georgetown
33       Nonmetropolitan County                       Greenwood
34       Nonmetropolitan County                         Hampton
35       Nonmetropolitan County                             Lee
36       Nonmetropolitan County                          Marion
37       Nonmetropolitan County                        Marlboro
38       Nonmetropolitan County                       McCormick
39       Nonmetropolitan County                        Newberry
40       Nonmetropolitan County                          Oconee
41       Nonmetropolitan County                      Orangeburg

    Violent crime  Murder and nonnegligent manslaughter  Forcible rape  \
0             385                                     5             52
1             803                                     8             63
2             663                                     2             59
3             394                                     5             33
4              48                                     0              0
5             495                                     6             24
6              95                                     5             12
7             257                                     5             19
8             296                                     6             22
9               6                                     0              1
10            116                                     2              5
11            212                                     2             20
12           2174                                    21            236
13            955                                     6            129
14            283                                     6             18
15            259                                     3             30
16            509                                     5             50
17            231                                     3             27
18           1998                                    17            129
19             58                                     2              1
20            703                                     1             97
21            342                                     5             38
22             65                                     5              9
23            388                                     2             32
24             31                                     3              2
25              8                                     1              1
26             38                                     0              0
27             63                                     1             11
28            104                                     3             12
29            106                                     6             10
30            203                                     5             21
31            172                                     2              8
32            130                                     1              8
33            186                                     8             17
34             67                                     2              7
35             58                                     0              3
36             81                                     1              7
37            133                                     0             11
38             18                                     0              0
39             58                                     4              5
40            316                                     7             44
41            405                                     4             33

    Robbery  Aggravated assault  Property crime  Burglary  Larceny-theft  \
0        49                 279            3462      1150           1949
1       142                 590            7617      2169           4776
2        62                 540            3240       851           2211
3        69                 287            3474      1110           2007
4         4                  44             390       135            215
5        49                 416            1910       612           1125
6        12                  66             656       230            399
7        18                 215            2116       682           1285
8        32                 236            2018       579           1238
9         0                   5             305       100            174
10       11                  98             612       188            379
11       39                 151            2298       648           1442
12      321                1596           11122      3050           7177
13      133                 687            6515      1558           4348
14       31                 228            2165       656           1425
15       12                 214            1349       487            758
16       79                 375            4555      1018           3135
17       16                 185            1993       671           1106
18      265                1587            8743      2014           5709
19        2                  53             272        73            175
20      131                 474            5438      1606           3424
21       36                 263            1895       745           1023
22        3                  48             563       177            368
23       36                 318            2268       602           1546
24        0                  26             465       165            287
25        0                   6              48        24             19
26        0                  38             216        61            128
27        6                  45             369       116            224
28        5                  84             950       333            559
29       26                  64             874       319            491
30       14                 163             995       280            626
31       20                 142             801       248            491
32       14                 107            1119       371            667
33       17                 144            1459       320           1091
34        4                  54             334       126            187
35        2                  53             391       146            207
36        8                  65             728       313            378
37        8                 114             684       240            404
38        1                  17              93        31             54
39        3                  46             327        83            233
40        8                 257            1663       499           1077
41       49                 319            3384      1080           1861

    Motor vehicle theft  Arson  Year
0                   363      5  2013
1                   672     23  2013
2                   178     13  2013
3                   357     13  2013
4                    40      1  2013
5                   173     13  2013
6                    27      6  2013
7                   149      7  2013
8                   201      4  2013
9                    31      0  2013
10                   45      1  2013
11                  208      1  2013
12                  895     73  2013
13                  609     33  2013
14                   84      6  2013
15                  104      7  2013
16                  402     13  2013
17                  216      5  2013
18                 1020     24  2013
19                   24      3  2013
20                  408     45  2013
21                  127     14  2013
22                   18      7  2013
23                  120     22  2013
24                   13      4  2013
25                    5      0  2013
26                   27      2  2013
27                   29      3  2013
28                   58      5  2013
29                   64      3  2013
30                   89     15  2013
31                   62      6  2013
32                   81      9  2013
33                   48      3  2013
34                   21      0  2013
35                   38      8  2013
36                   37      2  2013
37                   40      2  2013
38                    8      1  2013
39                   11      1  2013
40                   87     10  2013
41                  443     20  2013  >

In [167]:

sc_offenses_2014 = pd.read_csv("Data/SC_County_Offenses_2014 - 14tbl10sc.csv")
sc_offenses_2014 = sc_offenses_2014.dropna()
sc_offenses_2014["Year"] = 2014 #added 'year' column for later data exploration

sc_offenses_2014.dtypes
#have to cast some of the column data into ints from strings

#cast each string(that contains a comma) into a float and then into an int
sc_offenses_2014["Arson"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2014["Arson"]]
sc_offenses_2014["Aggravated assault"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2014["Aggravated assault"]]
sc_offenses_2014["Larceny-theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2014["Larceny-theft"]]
sc_offenses_2014["Motor vehicle theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2014["Motor vehicle theft"]]
sc_offenses_2014["Property crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2014["Property crime"]]
sc_offenses_2014["Violent crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2014["Violent crime"]]
sc_offenses_2014["Burglary"] = [int(float(row.replace(',', ''))) for row in sc_offenses_2014["Burglary"]]

sc_offenses_2014.dtypes#checking if it worked
sc_offenses_2014.describe

<bound method NDFrame.describe of    Metropolitan/Nonmetropolitan        County  Violent crime  \
0           Metropolitan County      Anderson            735
1           Metropolitan County      Beaufort            671
2           Metropolitan County       Calhoun             33
3           Metropolitan County    Charleston            556
4           Metropolitan County       Chester            156
5           Metropolitan County    Dorchester            321
6           Metropolitan County     Fairfield            144
7           Metropolitan County      Florence            234
8           Metropolitan County    Greenville           2110
9           Metropolitan County     Lancaster            300
10          Metropolitan County       Laurens            241
11          Metropolitan County     Lexington            518
12          Metropolitan County       Pickens            230
13          Metropolitan County      Richland           1983
14          Metropolitan County        Saluda             34
15          Metropolitan County   Spartanburg            659
16          Metropolitan County        Sumter            395
17          Metropolitan County         Union             95
18          Metropolitan County          York            440
19       Nonmetropolitan County     Abbeville             33
20       Nonmetropolitan County       Bamberg             23
21       Nonmetropolitan County      Barnwell             99
22       Nonmetropolitan County  Chesterfield             98
23       Nonmetropolitan County     Clarendon            127
24       Nonmetropolitan County      Colleton            270
25       Nonmetropolitan County        Dillon            155
26       Nonmetropolitan County     Greenwood            141
27       Nonmetropolitan County       Hampton             43
28       Nonmetropolitan County           Lee             68
29       Nonmetropolitan County        Marion             88
30       Nonmetropolitan County      Newberry             56
31       Nonmetropolitan County        Oconee            281
32       Nonmetropolitan County    Orangeburg            345

    Murder and nonnegligent manslaughter  Forcible rape  Robbery  \
0                                      8             50      108
1                                      5             42       81
2                                      2              5        4
3                                      7             17       74
4                                      2             16       10
5                                      5             30       37
6                                      0              6       17
7                                      2             12       54
8                                     23            204      360
9                                      1             35       38
10                                     3             15       20
11                                    13             64       52
12                                     5             18       17
13                                    21            135      277
14                                     0              2        1
15                                     7             84      110
16                                     6             39       26
17                                     1             16        9
18                                     5             34       38
19                                     1              2        0
20                                     0              2        2
21                                     1              8        4
22                                     0              5        4
23                                     7             10       14
24                                     2             18       20
25                                     5              5       27
26                                     0             20       11
27                                     2              2        3
28                                     3              7        5
29                                     0              9        9
30                                     1              9        3
31                                     3             62        7
32                                     5             25       37

    Aggravated assault  Property crime  Burglary  Larceny-theft  \
0                  569            6895      1926           4230
1                  543            2829       693           1988
2                   22             277        99            155
3                  458            1704       487           1061
4                  128             572       169            375
5                  249            2003       534           1293
6                  121             556       146            369
7                  166            2179       608           1364
8                 1523           11055      2913           7073
9                  226            1998       509           1396
10                 203            1304       418            700
11                 389            4355       868           3050
12                 190            1746       586            995
13                1550            8188      1590           5666
14                  31             214        96            101
15                 458            5534      1540           3557
16                 324            2132       829           1147
17                  69             483       149            319
18                 363            2122       580           1407
19                  30             306        99            189
20                  19             190        69            105
21                  86             367       102            246
22                  89             829       245            517
23                  96             704       223            431
24                 230             886       244            565
25                 118             866       288            524
26                 110            1308       255            997
27                  36             227        81            128
28                  53             419       145            226
29                  70             748       286            419
30                  43             356        90            243
31                 209            1629       441           1107
32                 278            2713       889           1418

    Motor vehicle theft  Arson  Year
0                   739     26  2014
1                   148      8  2014
2                    23      1  2014
3                   156      5  2014
4                    28      3  2014
5                   176      1  2014
6                    41      5  2014
7                   207      3  2014
8                  1069     82  2014
9                    93     10  2014
10                  186      6  2014
11                  437     10  2014
12                  165      8  2014
13                  932     34  2014
14                   17      3  2014
15                  437     36  2014
16                  156     11  2014
17                   15      3  2014
18                  135     13  2014
19                   18      2  2014
20                   16      1  2014
21                   19      0  2014
22                   67      4  2014
23                   50      8  2014
24                   77      7  2014
25                   54      9  2014
26                   56      4  2014
27                   18      3  2014
28                   48      6  2014
29                   43      0  2014
30                   23      2  2014
31                   81      7  2014
32                  406     14  2014  >

In [168]:

sc_offenses_2015 = pd.read_csv("Data/SC_County_Offenses_2015 - 15tbl10sc.csv")
sc_offenses_2015 = sc_offenses_2015.dropna()
sc_offenses_2015["Year"] = 2015 #added 'year' column for later data exploration

sc_offenses_2015.dtypes
#have to cast some of the column data into ints from strings

#cast each string(that contains a comma) into a float and then into an int
sc_offenses_2015["Arson"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2015["Arson"]]
sc_offenses_2015["Aggravated assault"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2015["Aggravated assault"]]
sc_offenses_2015["Larceny-theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2015["Larceny-theft"]]
sc_offenses_2015["Motor vehicle theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2015["Motor vehicle theft"]]
sc_offenses_2015["Property crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2015["Property crime"]]
sc_offenses_2015["Violent crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2015["Violent crime"]]
sc_offenses_2015["Burglary"] = [int(float(row.replace(',', ''))) for row in sc_offenses_2015["Burglary"]]

sc_offenses_2015.dtypes#checking if it worked
sc_offenses_2015.describe

<bound method NDFrame.describe of    Metropolitan/Nonmetropolitan                          County  \
0           Metropolitan County                           Aiken
1           Metropolitan County                        Anderson
2           Metropolitan County                        Beaufort
3           Metropolitan County                        Berkeley
4           Metropolitan County                         Calhoun
5           Metropolitan County                         Chester
6           Metropolitan County                      Dorchester
7           Metropolitan County                       Fairfield
8           Metropolitan County                        Florence
9           Metropolitan County                      Greenville
10          Metropolitan County                           Horry
11          Metropolitan County  Horry County Police Department
12          Metropolitan County                          Jasper
13          Metropolitan County                         Kershaw
14          Metropolitan County                       Lancaster
15          Metropolitan County                         Laurens
16          Metropolitan County                       Lexington
17          Metropolitan County                         Pickens
18          Metropolitan County                        Richland
19          Metropolitan County                          Saluda
20          Metropolitan County                     Spartanburg
21          Metropolitan County                          Sumter
22          Metropolitan County                           Union
23          Metropolitan County                            York
24       Nonmetropolitan County                       Abbeville
25       Nonmetropolitan County                         Bamberg
26       Nonmetropolitan County                        Barnwell
27       Nonmetropolitan County                        Cherokee
28       Nonmetropolitan County                    Chesterfield
29       Nonmetropolitan County                       Clarendon
30       Nonmetropolitan County                        Colleton
31       Nonmetropolitan County                          Dillon
32       Nonmetropolitan County                      Georgetown
33       Nonmetropolitan County                       Greenwood
34       Nonmetropolitan County                         Hampton
35       Nonmetropolitan County                             Lee
36       Nonmetropolitan County                          Marion
37       Nonmetropolitan County                        Marlboro
38       Nonmetropolitan County                       McCormick
39       Nonmetropolitan County                        Newberry
40       Nonmetropolitan County                          Oconee
41       Nonmetropolitan County                    Williamsburg

    Violent crime  Murder and nonnegligent manslaughter  Forcible rape  \
0             510                                     8             72
1             752                                    18             48
2             429                                    10             64
3             409                                     4             47
4              21                                     2              4
5             147                                     1             10
6             368                                     7             15
7             151                                     2             10
8             232                                     3             16
9            1918                                    11            163
10              1                                     0              0
11            753                                    41            154
12             46                                     9              3
13            173                                     2             43
14            275                                     5             26
15            234                                     2             12
16            578                                    15             57
17            218                                     4             23
18           2357                                    16            143
19             52                                     0              3
20            654                                    13            100
21            383                                     3             33
22             67                                     3             12
23            371                                     6             39
24             22                                     2              6
25             25                                     0              2
26            130                                     1              5
27            102                                     2              8
28            101                                     1             10
29            120                                     1             10
30            255                                     1             24
31            168                                     1              6
32            117                                     6             23
33            152                                     1             21
34             57                                     2              5
35             68                                     2              4
36             94                                     0              7
37            175                                     1              9
38             21                                     0              5
39            103                                     1              7
40            193                                     3             49
41            144                                     4             11

    Robbery  Aggravated assault  Property crime  Burglary  Larceny-theft  \
0        59                 371            3282       980           1847
1        94                 592            6496      1538           4210
2        62                 293            2623       613           1870
3        54                 304            2907       895           1710
4         1                  14             248        81            141
5        15                 121             531       136            357
6        49                 297            1939       530           1237
7         9                 130             559       179            332
8        53                 160            2231       567           1406
9       298                1446           10194      2659           6534
10        0                   1               8         0              8
11       85                 473            6539      1505           4503
12       16                  18             596       116            431
13        7                 121            1154       312            781
14       34                 210            1935       569           1282
15       11                 209            1041       330            601
16       84                 422            4445       906           3135
17       15                 176            1649       580            889
18      281                1917            8991      1787           6015
19        4                  45             207        61            127
20      137                 404            4783      1159           3300
21       32                 315            1883       715           1011
22        7                  45             480       136            314
23       43                 283            2039       528           1400
24        0                  14             286       118            154
25        2                  21             144        73             66
26        5                 119             317        91            199
27       12                  80            1154       323            772
28        8                  82             791       242            507
29       13                  96             672       234            386
30       16                 214             766       212            499
31       24                 137             794       275            475
32       12                  76            1119       347            686
33       11                 119            1264       283            946
34        2                  48             202        72            124
35        6                  56             320       111            176
36       14                  73             669       260            296
37        7                 158             577       193            346
38        1                  15             128        75             42
39        1                  94             293        89            188
40        8                 133            1303       303            917
41       16                 113             635       232            365

    Motor vehicle theft  Arson  Year
0                   455      1  2015
1                   748     34  2015
2                   140      6  2015
3                   302     12  2015
4                    26      1  2015
5                    38      5  2015
6                   172      2  2015
7                    48      7  2015
8                   258      4  2015
9                  1001     88  2015
10                    0      0  2015
11                  531     57  2015
12                   49      4  2015
13                   61      5  2015
14                   84     12  2015
15                  110      7  2015
16                  404     12  2015
17                  180      3  2015
18                 1189     36  2015
19                   19      0  2015
20                  324     20  2015
21                  157     14  2015
22                   30      6  2015
23                  111      8  2015
24                   14      3  2015
25                    5      2  2015
26                   27      2  2015
27                   59      5  2015
28                   42      3  2015
29                   52      1  2015
30                   55     15  2015
31                   44      6  2015
32                   86      7  2015
33                   35      4  2015
34                    6      3  2015
35                   33      5  2015
36                  113      1  2015
37                   38      3  2015
38                   11      1  2015
39                   16      1  2015
40                   83      7  2015
41                   38     12  2015  >

In [169]:

sc_offenses_2016 = pd.read_csv("Data/SC_County_Offenses_2016 - 16tbl08sc.csv")

sc_offenses_2016 = sc_offenses_2016.dropna()
sc_offenses_2016["Year"] = 2016 #added 'year' column for later data exploration

sc_offenses_2016.dtypes
#have to cast some of the column data into ints from strings


#cast each string(that contains a comma) into a float and then into an int
sc_offenses_2016["Arson"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2016["Arson"]]
sc_offenses_2016["Aggravated assault"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2016["Aggravated assault"]]
sc_offenses_2016["Larceny-theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2016["Larceny-theft"]]
sc_offenses_2016["Motor vehicle theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2016["Motor vehicle theft"]]
sc_offenses_2016["Property crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2016["Property crime"]]
sc_offenses_2016["Violent crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2016["Violent crime"]]
sc_offenses_2016["Burglary"] = [int(float(row.replace(',', ''))) for row in sc_offenses_2016["Burglary"]]

In [170]:


sc_offenses_2017 = pd.read_csv("Data/SC_County_Offenses_2017 - 17tbl10sc.csv")
sc_offenses_2017 = sc_offenses_2017.dropna()
sc_offenses_2017["Year"] = 2017 #added 'year' column for later data exploration

sc_offenses_2017.dtypes
#have to cast some of the column data into ints from strings

sc_offenses_2017.describe

#cast each string(that contains a comma) into a float and then into an int
sc_offenses_2017["Arson"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2017["Arson"]]
sc_offenses_2017["Aggravated assault"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2017["Aggravated assault"]]
sc_offenses_2017["Larceny-theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2017["Larceny-theft"]]
sc_offenses_2017["Motor vehicle theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2017["Motor vehicle theft"]]
sc_offenses_2017["Property crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2017["Property crime"]]
sc_offenses_2017["Violent crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2017["Violent crime"]]
sc_offenses_2017["Burglary"] = [int(float(row.replace(',', ''))) for row in sc_offenses_2017["Burglary"]]
sc_offenses_2017.dtypes

Metropolitan/Nonmetropolitan            object
County                                  object
Violent crime                            int64
Murder and nonnegligent manslaughter     int64
Forcible rape                            int64
Robbery                                  int64
Aggravated assault                       int64
Property crime                           int64
Burglary                                 int64
Larceny-theft                            int64
Motor vehicle theft                      int64
Arson                                    int64
Year                                     int64
dtype: object

In [171]:

sc_offenses_2018 = pd.read_csv("Data/SC_County_Offenses_2018 - 18tbl10sc.csv")
sc_offenses_2018 = sc_offenses_2018.dropna()
sc_offenses_2018["Year"] = 2018 #added 'year' column for later data exploration

sc_offenses_2018.dtypes
#have to cast some of the column data into ints from strings

#cast each string(that contains a comma) into a float and then into an int
sc_offenses_2018["Arson"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2018["Arson"]]
sc_offenses_2018["Aggravated assault"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2018["Aggravated assault"]]
sc_offenses_2018["Larceny-theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2018["Larceny-theft"]]
sc_offenses_2018["Motor vehicle theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2018["Motor vehicle theft"]]
sc_offenses_2018["Property crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2018["Property crime"]]
sc_offenses_2018["Violent crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2018["Violent crime"]]
sc_offenses_2018["Burglary"] = [int(float(row.replace(',', ''))) for row in sc_offenses_2018["Burglary"]]

sc_offenses_2018.dtypes#checking if it worked
sc_offenses_2018.describe

<bound method NDFrame.describe of    Metropolitan/Nonmetropolitan                          County  \
0           Metropolitan County                           Aiken
1           Metropolitan County                        Anderson
2           Metropolitan County                        Beaufort
3           Metropolitan County                        Berkeley
4           Metropolitan County                         Calhoun
5           Metropolitan County                         Chester
6           Metropolitan County                       Clarendon
7           Metropolitan County                      Darlington
8           Metropolitan County                       Fairfield
9           Metropolitan County                        Florence
10          Metropolitan County                      Greenville
11          Metropolitan County                           Horry
12          Metropolitan County  Horry County Police Department
13          Metropolitan County                         Kershaw
14          Metropolitan County                       Lancaster
15          Metropolitan County                       Lexington
16          Metropolitan County                         Pickens
17          Metropolitan County                        Richland
18          Metropolitan County                          Saluda
19          Metropolitan County                     Spartanburg
20          Metropolitan County                          Sumter
21          Metropolitan County                            York
22       Nonmetropolitan County                         Bamberg
23       Nonmetropolitan County                        Barnwell
24       Nonmetropolitan County                          Dillon
25       Nonmetropolitan County                      Georgetown
26       Nonmetropolitan County                       Greenwood
27       Nonmetropolitan County                         Hampton
28       Nonmetropolitan County                             Lee
29       Nonmetropolitan County                          Marion
30       Nonmetropolitan County                        Marlboro
31       Nonmetropolitan County                       McCormick
32       Nonmetropolitan County                        Newberry
33       Nonmetropolitan County                          Oconee
34       Nonmetropolitan County                      Orangeburg
35       Nonmetropolitan County                           Union

    Violent crime  Murder and nonnegligent manslaughter  Forcible rape  \
0             478                                    10             97
1             740                                    13             68
2             645                                     8             52
3             384                                     4             41
4              59                                     1             14
5             111                                     1              5
6             122                                     3             12
7             372                                     4             23
8             130                                     0              7
9             527                                    16             70
10           1621                                    19            220
11              3                                     0              1
12            889                                    21            172
13            120                                     2             18
14            260                                     3             44
15            549                                     9             70
16            286                                     4             34
17           2050                                    27            134
18             39                                     0              2
19            986                                    20             54
20            426                                     3             14
21            375                                     5             42
22             13                                     0              8
23             56                                     2              1
24            147                                     5              8
25            153                                     4             33
26            231                                     5             26
27             44                                     3              8
28             43                                     0              5
29            101                                     1              3
30             67                                     0              8
31             19                                     1              5
32             56                                     0              4
33            137                                     4             25
34            351                                     5             30
35             73                                     1              8

    Robbery  Aggravated assault  Property crime  Burglary  Larceny-theft  \
0        42                 329            2881       860           1654
1        87                 572            5402      1120           3575
2        48                 537            2199       425           1585
3        48                 291            2516       539           1655
4         4                  40             297        76            180
5        10                  95             574       140            397
6         8                  99             743       209            472
7        40                 305            1714       608            947
8         8                 115             455       129            279
9        65                 376            2270       549           1518
10      271                1111            8677      1808           5864
11        0                   2               3         0              3
12      118                 578            5991      1105           4282
13       13                  87            1016       207            710
14       28                 185            1798       442           1264
15       75                 395            5064       947           3446
16       21                 227            1571       466            899
17      283                1606            9865      1715           6805
18        4                  33             193        64            110
19       95                 817            4149      1217           2619
20       35                 374            1740       503           1067
21       30                 298            2482       567           1696
22        0                   5             127        52             58
23        4                  49             228        70            137
24       25                 109             556       195            296
25       10                 106            1077       308            657
26       16                 184            1087       220            792
27        3                  30             242        83            139
28        2                  36             296       112            154
29        7                  90             481       166            269
30        4                  55             326        89            207
31        1                  12              70        12             51
32        6                  46             301        85            197
33        7                 101            1785       414           1185
34       50                 266            2680       901           1511
35        3                  61             496       120            348

    Motor vehicle theft  Arson  Year
0                   367      6  2018
1                   707     31  2018
2                   189      7  2018
3                   322     14  2018
4                    41      1  2018
5                    37      1  2018
6                    62      2  2018
7                   159     11  2018
8                    47      5  2018
9                   203     15  2018
10                 1005     39  2018
11                    0      1  2018
12                  604     44  2018
13                   99      5  2018
14                   92      7  2018
15                  671     11  2018
16                  206      6  2018
17                 1345     31  2018
18                   19      1  2018
19                  313     33  2018
20                  170     14  2018
21                  219     15  2018
22                   17      1  2018
23                   21      4  2018
24                   65      0  2018
25                  112      7  2018
26                   75      2  2018
27                   20      6  2018
28                   30      1  2018
29                   46      2  2018
30                   30      3  2018
31                    7      1  2018
32                   19      0  2018
33                  186      9  2018
34                  268      9  2018
35                   28      2  2018  >

In [179]:

sc_offenses_2019 = pd.read_csv("Data/SC_County_Offenses_2019 - 19tbl10sc.csv")
sc_offenses_2019 = sc_offenses_2019.dropna()
sc_offenses_2019["Year"] = 2019 #added 'year' column for later data exploration

sc_offenses_2019.dtypes
#have to cast some of the column data into ints from strings

#cast each string(that contains a comma) into a float and then into an int
sc_offenses_2019["Arson"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2019["Arson"]]
sc_offenses_2019["Aggravated assault"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2019["Aggravated assault"]]
sc_offenses_2019["Larceny-theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2019["Larceny-theft"]]
sc_offenses_2019["Motor vehicle theft"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2019["Motor vehicle theft"]]
sc_offenses_2019["Property crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2019["Property crime"]]
sc_offenses_2019["Violent crime"] = [int(float(str(row).replace(',',''))) for row in sc_offenses_2019["Violent crime"]]
sc_offenses_2019["Burglary"] = [int(float(row.replace(',', ''))) for row in sc_offenses_2019["Burglary"]]

sc_offenses_2019.dtypes#checking if it worked
sc_offenses_2019.shape

(39, 13)

Since we have dataframes of all the counties for years 2011-2019, it's time to start making dataframes for each county

We will join other county data into these dataframes later

In [185]:

county_dFrames = [sc_offenses_2011, sc_offenses_2012, sc_offenses_2013, sc_offenses_2014, sc_offenses_2015,
 sc_offenses_2016, sc_offenses_2017, sc_offenses_2018, sc_offenses_2019]

county_count = {}

for frame in county_dFrames:
    for county in frame["County"]:
        if county in county_count:
            county_count[county] += 1
        else:
            county_count[county] = 1

#print(county_dFrames[0].to_dict())

#combine all the dataframes into one
#remove counties that have less than a 9 value count in county_count
sc_offenses = pd.concat(county_dFrames)
sc_offenses = sc_offenses.dropna()
sc_offenses_full = sc_offenses[sc_offenses["County"].map(county_count) > 8]


#number of counties with > 8 in county_count
print(len(sc_offenses_full["County"].unique()))

21

We're going to focus on the counties that are consistently in all of the dataframes. If they have a value of 9 in the dictionary, they will be usd for study. All else, they will be dropped for this particular study

In [182]:
personal_income = pd.read_csv("Data\Per capita personal income by county US Dept of Commerce 2011-2021.csv")
#only include the counties that have a value count of 9 or more
personal_income = personal_income[personal_income["County"].map(county_count) > 8]
personal_income = personal_income.dropna()


in_poverty = pd.read_csv("Data\SAIPE Population w percent in poverty 2011-2021_1.csv", encoding = 'latin1')

#take away all columns that are
#list all population columns
pop_columns = [col for col in in_poverty.columns if 'Percentage' not in col]
#make a new dataframe with only the population columns
in_poverty_pop = in_poverty[pop_columns]
in_poverty_pop = in_poverty_pop[in_poverty_pop["County"].map(county_count) > 8]
in_poverty_pop = in_poverty_pop.dropna()

per_columns = [col for col in in_poverty.columns if 'Population' not in col]
in_poverty_per = in_poverty[per_columns]
in_poverty_per = in_poverty_per[in_poverty_per["County"].map(county_count) > 8]
in_poverty_per = in_poverty_per.dropna()

in_poverty_pop


housing_est = pd.read_csv("Data\Estimated Number of Housing Units 2010-2019 (1).csv",encoding = 'latin1' )
housing_est = housing_est[housing_est["County"].map(county_count) > 8]
housing_est = housing_est.dropna()


med_house_income = pd.read_csv("Data\Median Household Income by County 2011-2021_3.csv", encoding = 'latin1')
med_house_income = med_house_income[med_house_income["County"].map(county_count) > 8]
med_house_income = med_house_income.dropna()



med_house_income.shape

(21, 10)

In [199]:
#combine all the dataframes into one
#remove counties that have less than a 9 value count in county_count
#include in_poverty 2011 pop, housing_est, med_house_incomme, count_labor

#combine all financial dataframes into one
financial_data = pd.merge(housing_est, personal_income, on = "County", how = "outer").merge(med_house_income,
 on = "County", how = "outer").merge(in_poverty_pop, on = "County", how = "outer").merge(in_poverty_per, 
on = "County", how = "outer")

financial_data.columns


#merge in_poverty_pop with in_poverty_per so that the null values aren't included
#in_poverty = pd.merge(in_poverty_pop, in_poverty_per, on = "left=", how = "outer")

Index(['County', '2011 Housing Estimate', '2012 Housing Estimate',
       '2013 Housing Estimate', '2014 Housing Estimate',
       '2015 Housing Estimate', '2016 Housing Estimate',
       '2017 Housing Estimate', '2018 Housing Estimate',
       '2019 Housing Estimate', '2011 Personal Income', '2012 Personal Income',
       '2013 Personal Income', '2014 Personal Income', '2015 Personal Income',
       '2016 Personal Income', '2017 Personal Income', '2018 Personal Income',
       '2019 Personal Income', '2011 Med Household Income',
       '2012 Med Household Income', '2013 Med Household Income',
       '2014 Med Household Income', '2015 Med Household Income',
       '2016 Med Household Income', '2017 Med Household Income',
       '2018 Med Household Income', '2019 Med Household Income',
       '2011 Population', '2012 Population', ' 2013 Population',
       ' 2014 Population', '2015 Population', ' 2016 Population',
       '2017 Population', '2018 Population', ' 2019 Population',
       ' 2011 Percentage', '2012 Percentage', ' 2013 Percentage',
       ' 2014 Percentage', ' 2015 Percentage', ' 2016 Percentage',
       ' 2017 Percentage', ' 2018 Percentage', ' 2019 Percentage'],
      dtype='object')